.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header {
  padding-bottom: 65px;

  background-color: #f1f5f7;
}

.top-header {
  min-height: 42px;

  background-color: #293449;
}

a.logo {
  float: left;
  max-width: 116px;
  margin-bottom: -5px;
  padding: 11px 52px 7px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #ee3643;
  border-bottom: solid 5px #b52933;
}

.logo:hover {
  background-color: #ca2c37;
  cursor: pointer;
}

.logo:active {
  background-color: #ba2732;

  cursor: pointer;
}

.search {
  position: relative;

  float: left;
  width: 270px;
}

.search input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: white;

  background-color: #293449;
  border: none;
  outline: none;

  cursor: pointer;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  color: black;

  background-color: #ffffff;
  border: none;
  outline: none;
  opacity: 1;
}

input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.3;
}

input[type="search"]::-moz-placeholder {
  color: #ffffff;
  opacity: 0.3;
}

input[type="search"]:-moz-placeholder {
  color: #ffffff;
  opacity: 0.3;
}

input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.3;
}

.icon-search {
  position: absolute;
  top: 12px;
  left: 16px;

  width: 20px;
  height: 20px;

  background: url("../../img/sprite.png") no-repeat -106px -1px;
}

.top-header-menu a {
  position: relative;

  float: left;
  padding: 12px 31px 12px 45px;

  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}

a.btn-bookmarks:hover, a.btn-cart:hover {
  background-color: #212a3a;
}

a.btn-bookmarks:active, a.btn-cart:active {
  color: #a2a5a9;

  background-color: #161d29;
}

a.btn-order {
  max-width: 110px;
  padding: 12px 19px 12px 19px;

  background-color: #63a63e;
}

a.btn-order:hover {
  background-color: #5fbb2d;
}

a.btn-order:active {
  background-color: #518534;

  color: #a2a5a9;
}

.btn-bookmarks::before {
  position: absolute;
  top: 12px;
  left: 16px;

  width: 20px;
  height: 20px;

  background: url("../../img/sprite.png") no-repeat -53px 1px;

  content: "";
}

.btn-bookmarks:hover::before {
  background-position: -53px -49px;
}

.btn-bookmarks:active::before {
  background-position: -54px -99px;
}

.btn-cart::before {
  position: absolute;
  top: 12px;
  left: 16px;

  width: 20px;
  height: 20px;

  background: url("../../img/sprite.png") no-repeat -8px 1px;

  content: "";
}

.btn-cart:hover::before {
  background-position: -8px -49px;
}

.btn-cart:active::before {
  background-position: -9px -99px;
}

.site-description {
  float: left;
  width: 250px;
  margin: 50px 20px 30px 50px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ef5c67;
}

.header-contacts {
  float: left;
  width: 270px;
  margin: 50px 50px 30px 0;
}

.header-contacts .phone {
  position: relative;

  padding: 10px 46px 15px 70px;

  font-size: 21px;
  line-height: 18px;
  color: #e9292a;

  border: 3px solid #ffffff;
}

.header-contacts .phone::before {
  position: absolute;
  left: 13px;

  width: 20px;
  height: 20px;

  background: url("../../img/sprite.png") no-repeat -201px -202px;

  content: "";
}

.header-contacts .address {
  margin-top: 11px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.user-block {
  float: left;
  width: 280px;
  padding-left: 20px;
  margin: 50px 0 30px 0;
}

.user-block a {
  position: relative;

  float: left;
  max-width: 110px;

  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
}

.user-block a:hover {
  color: #ee3643;
}

.user-block a:active {
  color: #cacaca;
}

.btn-sign-in {
  position: relative;

  padding: 14px 26px 14px 41px;
  margin-right: 14px;
}

.btn-sign-in::before {
  position: absolute;
  top: 11px;
  left: 13px;

  width: 20px;
  height: 20px;

  background: url("../../img/sprite.png") no-repeat -304px -98px;

  content: "";
}

.btn-sign-in:hover::before {
  background: url("../../img/sprite.png") no-repeat -201px -98px;
}

.btn-sign-in:active::before {
  background: url("../../img/sprite.png") no-repeat -304px -98px;
}

.btn-sign-up {
  padding: 14px 22px 14px 23px;
}

.main-nav ul {
  min-height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: -5px;

  font-size: 0; /*Для inline-block*/

  background-color: #32425c;
  border-bottom: 5px solid #293449;

  list-style: none;
}

.main-nav li {
  display: inline-block;
  vertical-align: middle;
}

.main-nav a {
  display: block;
  padding: 20px 30px 20px 30px;

  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}

.main-nav a:hover {
  background-color: #293449;
}

.main-nav a:active {
  color: #a2a5a9;

  background-color: #1d2739;
}

.block-1 {
  background-color: #ffffff;
}

.categories {
  padding-bottom: 33px;
  margin-top: 60px;

  font-size: 0;
}

.category-item {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 123px;
  margin: 0 0 20px 20px;

  background-color: #f6b22d;
}

.category-item:nth-child(1) {
  margin-left: 0;
}

.category-item:nth-child(2) {
  background-color: #4aafde;
}

.category-item:nth-child(3) {
  background-color: #cc79d1;
}

.category-item:nth-child(5) {
  background-color: #85d179;
}

.categories-name {
  position: absolute;
  left: 22px;
  top: 25px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.category-img {
  position: absolute;
  top: 0;
  right: 0;

  width: 123px;
  height: 123px;
}

.category-img img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.btn-category {
  position: absolute;
  top: 63px;
  left: 25px;

  width: 136px;
  padding: 13px 0 13px 0;

  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.btn-category:hover {
  background: rgba(0, 0, 0, 0.2);
}

.btn-category:active {
  background: rgba(0, 0, 0, 0.3);
}

.category-item.new::before {
  position: absolute;
  right: 0;
  z-index: 1;

  width: 60px;
  height: 59px;

  background: url("../../img/new-flag.png") no-repeat;

  content: "";
}

/*Слайдер*/

.slider {
  position: relative;

  display: inline-block;
  float: left;
  width: 620px;
  height: 266px;
}

/*
.slide {
  position: absolute;

  width: 620px;
  height: 266px;
}

.slide:nth-child(1) {
  background-image: url(../../img/perforators.jpg);
}

.slide:nth-child(2) {
  background-image: url(../../img/drills.jpg);
}

.arrow-left::before {
  position: absolute;
  z-index: 20;
  left: 22px;
  top: 123px;

  display: block;
  width: 28px;
  height: 4px;

  background: #ffffff;
  transform: rotate(-45deg);
  !*контент на каком месте?*!
  content: "";
  cursor: pointer;
}

.arrow-right::before {
  position: absolute;
  z-index: 20;
  right: 22px;
  top: 123px;

  display: block;
  width: 28px;
  height: 4px;

  background: #ffffff;
  transform: rotate(45deg);

  content: "";
  cursor: pointer;
}

!*.slide {
	display: none;
}*!

#btn-1:checked ~ .slides .slide:nth-child(1),
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

.service-block input[type=radio], .slider input[type=radio] {
  position: absolute;

  opacity: 0;
}*/

.hot-products-header {
  background-color: #f7f3ec;
}

.hot-products-header span {
  float: left;
  margin: 30px 0 29px 24px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.hot-products-header .btn {
  float: right;
  margin: 25px 24px 0 0;
  padding: 14px 69px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 4px;
}

.hot-products {
  list-style: none;
  font-size: 0;
}

.good-item {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  width: 218px;
  height: 316px;
  margin: 20px 20px 0 0;

  text-align: center;

  border: 1px solid #e5e5e5;
}

.good-item:nth-child(4n) {
  margin-right: 0;
}

.good-item.new::before {
  position: absolute;
  right: 0;
  z-index: 1;

  width: 60px;
  height: 59px;

  background: url("../../img/new-flag.png") no-repeat;

  content: "";
}

.good-image {
  position: relative;

  width: 218px;
  height: 168px;
}

.good-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-57%, -50%);
}

.good-description {
  display: block;
}

.good-tittle {
  display: block;
  margin: 0 24px 0 25px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.old-price {
  display: block;
  margin-top: 13px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: line-through;
  font-weight: 700;
}

.good-item .btn {
  position: relative;

  display: inline-block;
  padding: 10px 23px 12px 36px;
  margin-top: 11px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;

  background-color: #ee3643;
  border-radius: 3px 0 0 3px;
}

.good-item .btn::after {
  content: "";
  position: absolute;
  top: 0px;
  right: -39px;
  width: 0;
  height: 0;
  border: 20px solid #fff;
  border-left-color: #ee3643;
}

input, p, textarea {
  margin: 0;
  padding: 0;
}

ul, h2, h3 {
  margin: 0;
  padding: 0;
}
